@model DoItYourself.Web.ViewModels.Projects.ProjectIndexViewModel

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Projects
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">Projects</li>
        </ol>
        @if (this.User.Identity.IsAuthenticated)
        {
            <div class="btn btn-warning pull-right" style="margin-bottom: 10px;">
                <a href="~/Projects/Add">Add Project</a>
            </div>
        }
    </div>
</div>

<div class="row">
    @foreach (var project in Model.Projects)
    {
        <div class="col-md-4 img-portfolio">
            <img class="img-responsive img-hover" src="@project.ImagePath" alt="">
            <h3>
                @Html.ActionLink((string)project.Title, "Details", "Projects", new { id = project.Id }, null)
            </h3>
            <p>@project.Content</p>
        </div>
    }
</div>

<hr>

<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>

<hr>